@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lavender;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(243, 243, 243);
}
.header-container {
    letter-spacing: 3px;
}
.header-container a{
    text-decoration: none;
    color: #000;
}
nav ul {
    list-style: none;
    padding: 1em;
    font-weight: 300;
    display: flex;
    align-items: center;
}
nav  li {
    display: inline-block;
    margin-left: 2em;
    font-size: 14px;
}
nav a {
    text-decoration: none;
    color: black;
}
.nav-icon img {
    height: 12px;
}
#search-box {
    background-color: #f3f3f3;
    border-radius: 5%;
    border-style: none;
}
#profile {
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile a {
    color: #fff;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 7em;
}
.title p {
    padding-right: 30px;
}
#open-btn, #close-btn {
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: 0px solid transparent;
}
#open-btn:hover {
    color:#8c8c8c;
}
#add-modal {
    background-color:rgb(255, 254, 251, 0.9);
    width: 400px;
    height: 400px;
    padding: 10px;
    position: fixed;
    left: calc(50vw - 200px);
    top: calc(50vh - 200px);
    z-index: 10;
    display: none;
    animation: openModalAnimation 0.5s ease-out;
}
.modal-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-card-modal {
    height: 150px;
    width: 150px;
}
#add-text {
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
}
#library {
    padding: 15vh 0px;
}
#add-btn {
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 5px;
    position: absolute;
    right: 35px;
}
.horizontal-scroll {
    overflow-x: auto;
}
.card-container {
    display: flex;
    width: max-content;
}
.card {
    height: 300px;
    width: 250px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 20px;
    position: relative;
}
.img-card {
    height: 200px;
    width: 85%;
    margin-top: 1em;
    object-fit:cover;
}
.check {
    list-style: none;
    cursor: pointer;
    color: #8c8c8c;
    font-size: 25px;
    margin: 6px;
}
.check:hover {
    color: #000;
}
.delete {
    cursor: pointer;
    color: #8c8c8c;
    font-size: 12px;
    position: absolute;
    left: 5px;
    top: 0px;
}
.delete:hover {
    color: #000;
}
#feed {
    padding: 15vh 0px;
    background-color: rgb(174, 192, 189);
}
#themes {
    padding: 15vh 0px;
    background-color: rgb(179, 229, 245);
}
.themes-title {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 7em;
}
.themes-title ul {
    list-style: none;
    font-weight: 300;
}
.themes-title  li {
    display: inline-block;
    margin-left: 3em;
    font-size: 14px;
    cursor: pointer;
}
.themes-title li:hover {
    font-weight: 600;
}
.user {
    font-size: 12px;
    color: #8c8c8c;
}
.heart {
    cursor: pointer;
    color: #8c8c8c;
    font-size: 25px;
}
.heart:hover {
    color: #000;
}
@keyframes openModalAnimation {
    from {transform: scale(0);}
    to {transform: scale(1);}
  }